html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

#wrapper {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 0 auto;
  max-width: 640px;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}


p {
  margin-bottom: .8rem;
  margin-top: .8em;
}

p.blurb {
  font-size: 2.4rem;
  line-height: 3rem;
  font-style: italic;
  text-align: center;  
  margin-bottom: 4rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
  margin-top: 6rem;
}

h3 {
  margin-bottom: -1.5rem;
  margin-top: 3rem;
  font-weight: 800;
}

h3 span.title {
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin-top: 2rem;
  font-style: italic;
  margin-bottom: 2rem;
}

img.logo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

hr {
  border: .5px dotted black;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

footer {
  text-align: center;  
}

